/* Style pour le corps du document */
body {
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
background-color: #f2f2f2;
}

/* Style pour le titre de la page */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

header h1 {
font-size: 36px;
margin: 0;
padding: 20px;
color: #ffffff;
}

/* Style pour la navigation */
nav ul {
margin: 0;
padding: 0;
list-style: none;
text-align: right;
}

nav ul li {
display: inline-block;
margin: 10px;
}

nav ul li a {
color: #ffffff;
text-decoration: none;
font-size: 20px;
padding: 10px;
transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
color: #fff;
background-color: #333;
}

/* Style pour les sections de projets */
main section {
padding: 50px;
margin: 20px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0px 0px 5px #888;
}

main section h2 {
font-size: 28px;
color: #333;
margin-bottom: 20px;
}

main section p {
font-size: 18px;
color: #666;
line-height: 1.5;
margin-bottom: 20px;
}

main section a {
display: inline-block;
background-color: #333;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
transition: all 0.3s ease-in-out;
}

main section a:hover {
background-color: #fff;
color: #333;
}

/* Style pour le pied de page */
footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
}

footer p {
margin: 0;
font-size: 14px;
}

.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .slide:not(:first-child) {
    display: none;
  }

.carousel .prev,
.carousel .next {
    position: absolute;
    top: 155%;
    transform: translateY(-50%);
    width: 100px;
    height: 50px;
    background-color: rgb(189, 189, 189, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel .prev {
  left: 332px;
}

.carousel .next {
  right: 332px;
}

.carousel
{
    justify-content: space-between;
}

.carousel .slide2:not(:first-child) {
  display: none;
}

.carousel .prev2,
.carousel .next2 {
  position: absolute;
  top: 355%;
  transform: translateY(-50%);
  width: 100px;
  height: 50px;
  background-color: rgb(189, 189, 189, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel .prev2 {
left: 332px;
}

.carousel .next2 {
right: 332px;
}

  


/* Style pour les médias */
@media screen and (max-width: 768px) {
nav ul li {
display: block;
margin: 0;
}
}

/* Style pour les médias */
@media screen and (max-width: 480px) {
header h1 {
font-size: 24px;
}
nav ul li a {
font-size: 16px;
}
main section h2 {
font-size: 24px;
}
main section p {
font-size: 16px;
}
}

